.titulo {
    width: 1440px ;
    height: 109px;
    padding: 28px 30px 28px 30px;
    background-color: #C4C4C4;
}

.descrimagem{
    width: 1440px ;
    height: 318px;
    padding: 28px;
    background-color: #C4C4C4;
}

.imagem{
    width: 247px ;
    height: 247px ;
    padding: 32px;
    border-radius: 50%;
}

.descricao {
    padding: 32px
}